<html ng-app>
<head>
<script type="text/javascript" src="Scripts/angular.min.js">
</script>
<script type="text/javascript" src="Scripts/Controllers/itemcontroller.js"></script>
</head>
<body>
<p> Prova {{ 1 + 4 }}</p>
<div ng-controller="ItemsController">
	<input type="text" name="searchInput" value="Search input" ng-model="query" />

	<!-- same name for grouping, same model for ordering> -->
	<input type="radio" name="ordering" value="Categoria" ng-model="ordering"/>Categoria
	<input type="radio" name="ordering" value="Prezzo" ng-model="ordering"/>Prezzo
	<input type="radio" name="ordering" value="Name" ng-model="ordering"/>Nome
	<ul>
		<li ng-repeat="item in items | filter: query | orderBy: ordering">
		<p style="background-color: azure">{{item.Categoria | uppercase}}</p>
		<p>{{item.Name}}</p>
		<p>{{item.Value | number:2}}</p>
		</li>
	</ul>
</div>
</body>
</html>
