<h3>Direttive</h3>
<p>Due modi di definire direttive:</p>
<ol>
	<li ng-non-bindable>{{ 1 + 2 }}</li>
        <li ng-non-bindable>Attributo ng-bind="expression"</li>
</ol>
<ul>
	<li ng-repeat="pirata in pirati">
		<span ng-bind="pirata.name"></span>
		<span>{{pirata.surname}}</span>
		<span style="background-color: orange">{{emitSoundIfPirate(pirata.isPirate)}}</span>
		<!--oppure filtro sul booleano-->
	</li>
</ul>
<br />
Qua sotto una direttiva custom (direttive di vari tipi: EACM):
<gohome testo="Torna alla pagina principale"></gohome>
