<!--Potevo evitare di specificare il controller nella config del routing e specificare come qua sotto:-->
<!--<div ng-controller="ItemsController">-->
<div>
	<h3>Controller, filtri, dependency injection</h3>
	<input style="margin-top: 1em" type="text" name="searchInput" value="Search input" ng-model="query" />
	<span ng-click='clear()'>X</span>
	<div style="margin-top: 1em">
	<strong>Searching for: <span ng-bind="searchItem"></span></strong>
	</div>
	<div>
		<strong>Ordering:</strong>
	<input type="radio" name="ordering" value="Categoria" ng-model="ordering"/>Categoria
	<input type="radio" name="ordering" value="Value" ng-model="ordering"/>Prezzo
	<input type="radio" name="ordering" value="Name" ng-model="ordering"/>Nome
	</div>
	<ul>
		<li ng-repeat="item in items | filter: query | orderBy: ordering">
		<p>Elemento n. {{$index + 1}}</p>
		<p style="background-color: azure">{{item.Categoria | uppercase}}</p>
		<p>{{item.Name}}</p>
		<p>{{item.Value | currency }}</p>
		</li>
	</ul>
</div>
